



.image2{
    display:flex;
    justify-content: center;
}
.image2 img{
   
    width: 300px;
    margin-right: 0px;
    margin-top: 20px;
    border:10px rgb(24, 8, 126);
    text-align: center;
}
.imagensreciclar{
    text-align: center;
    max-width: 100%;
}